.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.error-container h1 {
  color: #14adffab;
  font-size: 300px;
  margin: 0;
  text-shadow: 8px 2px #080808b6;
  margin-bottom: 10px;
}

.error-container p {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  background-color: #161616;
  padding:25px 40px;
  border-radius: 50px;
  border: none;
  overflow: visible;
}

.error-container p::before,
.error-container p::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  border: 4px solid #14adff;
}

.error-container p::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 50px;
}

.error-container p::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 50px;
}