.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 10px;
}

.error-container h1 {
  color: #14adffab;
  font-size: clamp(160px, 20vw, 300px);
  margin: 0;
  text-shadow: 8px 2px #080808b6;
  margin-bottom: 10px;
}

.error-container p {
  position: relative;
  color: #ffffff;
  font-size: clamp(20px, 2.5vw, 30px);
  margin: 0;
  background-color: #161616;
  padding: clamp(18px, 2.5vw, 25px) clamp(28px, 4vw, 40px);
  border-radius: 50px;
  border: none;
  overflow: visible;
  
}

.error-container p a{
 color: #14adff;
  
}

.error-container p a:hover{
 color: #14adffae;
  
}
.error-container p::before,
.error-container p::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  border: 4px solid #14adff;
}

.error-container p::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 50px;
}

.error-container p::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 50px;
}
