  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


body {
  background-color: #242424 !important;
  color: white !important;
  font-family: 'Cabin', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;

  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: light dark !important;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #242424 !important;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
}

.topSection,
.bottomSection {
  border: 3px solid;
  display: flex;
  justify-content: center;
  gap: 10rem;
  
}

.matchForm, .createForm,
.leader-board, .about-us {

  width:300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns h2 to the left within each box */
}
